.colMain{
    width: 100% !important;
}

.dataTable{
    width: 100% !important;;
}

.basic-buttons{
        margin-bottom: 20px; 
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
}


.datatable-head{
    display: flex;
    font-size: 20px;
    font-weight: 500;
    color: rgb(16, 0, 107);
    word-spacing: 1px;
    margin-left: 21px;
    margin-bottom: -7px !important ;
}
.datatable-head p{
    margin-left: 11px;
}

.dt-outer-container{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

.slds-scrollable_x{
    max-width: 96%;
}